@font-face {
	font-family: 'plugin-comptes';
	src:url('fonts/plugin-comptes.ttf') format('truetype');
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}
[class^="plugin-comptes"], [class*=" plugin-comptes"] {
	font-family: 'plugin-comptes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*Comptes */
.plugin-comptes-dircats:before {
	content: "\0022";
}
.plugin-comptes-stats1:before {
	content: "\0028";
}
.plugin-comptes-stats2:before {
	content: "\002d";
}
.plugin-comptes-stats3:before {
	content: "\0031";
}
.plugin-comptes-stats4:before {
	content: "\00ba";
}
.plugin-comptes-stats5:before {
	content: "\0168";
}
.plugin-comptes-vir-auto:before {
	content: "\0026";
}
.plugin-comptes-money-pig:before {
	content: "\0033";
}
.plugin-comptes-money-billets:before {
	content: "\0032";
}
.plugin-comptes-billets1:before {
	content: "\002b";
}
.plugin-comptes-billets2:before {
	content: "\002c";
}
.plugin-comptes-billets3:before {
	content: "\003c";
}
.plugin-comptes-billets4:before {
	content: "\003d";
}
.plugin-comptes-billets5:before {
	content: "\003e";
}
.plugin-comptes-panier1:before {
	content: "\0035";
}
.plugin-comptes-panier2:before {
	content: "\0051";
}
.plugin-comptes-caddie1:before {
	content: "\0176";
}
.plugin-comptes-caddie2:before {
	content: "\027c";
}
.plugin-comptes-caddie3:before {
	content: "\027e";
}
.plugin-comptes-caddie4:before {
	content: "\027f";
}
.plugin-comptes-euro1:before {
	content: "\0027";
}
.plugin-comptes-euro2:before {
	content: "\002e";
}
.plugin-comptes-euro3:before {
	content: "\0258";
}
.plugin-comptes-euro-dollar:before {
	content: "\0039";
}
.plugin-comptes-sac-dollar:before {
	content: "\003a";
}
.plugin-comptes-reveil-dollar:before {
	content: "\0037";
}
.plugin-comptes-sacoche-dollar:before {
	content: "\003f";
}
.plugin-comptes-portefeuille-dollar:before {
	content: "\0041";
}
.plugin-comptes-homme-avec-sac:before {
	content: "\0040";
}
.plugin-comptes-sac-dollar:before {
	content: "\0042";
}
.plugin-comptes-cb1:before {
	content: "\0047";
}
.plugin-comptes-pincode:before {
	content: "\0029";
}
.plugin-comptes-sortie-billet:before {
	content: "\003b";
}
.plugin-comptes-norme-ce:before {
	content: "\0257";
}

/* Flêches */
.plugin-comptes-double-fleche:before {
	content: "\00a4";
}
.plugin-comptes-fleche-bas:before {
	content: "\0069";
}
.plugin-comptes-fleche-haut:before {
	content: "\00b9";
}
.plugin-comptes-fleche-rond:before {
	content: "\0169";
}
.plugin-comptes-fleche-rond2:before {
	content: "\017a";
}
.plugin-comptes-fleche-diagonale1:before {
	content: "\017d";
}
.plugin-comptes-fleche-diagonale2:before {
	content: "\0186";
}
/*Multimédia */
.plugin-comptes-phone-clap:before {
	content: "\0056";
}
.plugin-comptes-composant1:before {
	content: "\0074";
}
.plugin-comptes-simcard1:before {
	content: "\0068";
}
.plugin-comptes-sdcard:before {
	content: "\00ef";
}
.plugin-comptes-sdcard32:before {
	content: "\0075";
}
.plugin-comptes-sdcard64:before {
	content: "\0105";
}
.plugin-comptes-printer1:before {
	content: "\00b3";
}
.plugin-comptes-printer2:before {
	content: "\00f4";
}
.plugin-comptes-printer3:before {
	content: "\0178";
}
.plugin-comptes-cd1:before {
	content: "\0109";
}
.plugin-comptes-cd2:before {
	content: "\0153";
}
.plugin-comptes-cle-usb1:before {
	content: "\010b";
}
.plugin-comptes-usb1:before {
	content: "\0113";
}
.plugin-comptes-camera1:before {
	content: "\011d";
}
.plugin-comptes-camera2:before {
	content: "\011e";
}
.plugin-comptes-camera3:before {
	content: "\0188";
}
.plugin-comptes-wifi:before {
	content: "\0194";
}
.plugin-comptes-wifi2:before {
	content: "\0212";
}
.plugin-comptes-prise:before {
	content: "\01b8";
}
.plugin-comptes-old-tv:before {
	content: "\01dd";
}
.plugin-comptes-ipod:before {
	content: "\01de";
}
.plugin-comptes-imac:before {
	content: "\01df";
}
/* photographie */
.plugin-comptes-reflex1:before {
	content: "\00bd";
}
.plugin-comptes-reflex2:before {
	content: "\00d4";
}
.plugin-comptes-reflex3:before {
	content: "\00d5";
}
.plugin-comptes-reflex4:before {
	content: "\00d9";
}
.plugin-comptes-reflex5:before {
	content: "\0100";
}
.plugin-comptes-reflex6:before {
	content: "\0104";
}
.plugin-comptes-reflex7:before {
	content: "\011f";
}
.plugin-comptes-app-photo1:before {
	content: "\00be";
}
.plugin-comptes-app-photo2:before {
	content: "\0253";
}
.plugin-comptes-bouton-prise-de-vue:before {
	content: "\00d6";
}
.plugin-comptes-flash:before {
	content: "\00d7";
}
.plugin-comptes-trepied1:before {
	content: "\00d8";
}
.plugin-comptes-spot-lumineux1:before {
	content: "\00db";
}
.plugin-comptes-diaphragme-a1:before {
	content: "\0118";
}
.plugin-comptes-diaphragme-a2:before {
	content: "\0101";
}
.plugin-comptes-diaphragme-a3:before {
	content: "\011a";
}
.plugin-comptes-diaphragme-b1:before {
	content: "\0114";
}
.plugin-comptes-diaphragme-b2:before {
	content: "\0115";
}
.plugin-comptes-diaphragme-b3:before {
	content: "\011b";
}
.plugin-comptes-diaphragme-b4:before {
	content: "\0117";
}
.plugin-comptes-diaphragme-c1:before {
	content: "\0116";
}
.plugin-comptes-icon-mode-paysage1:before {
	content: "\00da";
}
.plugin-comptes-icon-mode-paysage2:before {
	content: "\00f0";
}
.plugin-comptes-icon-mode-paysage3:before {
	content: "\00f6";
}
.plugin-comptes-icon-mode-paysage4:before {
	content: "\0112";
}
.plugin-comptes-icon-mode-macro1:before {
	content: "\0103";
}
.plugin-comptes-icon-mode-macro2:before {
	content: "\0107";
}
.plugin-comptes-icon-mode-dynamique1:before {
	content: "\010a";
}
.plugin-comptes-icon-no-flash:before {
	content: "\00dd";
}
.plugin-comptes-icon-flash1:before {
	content: "\00ed";
}
.plugin-comptes-icon-flash2:before {
	content: "\00ef";
}
.plugin-comptes-icon-flash3:before {
	content: "\00fa";
}
.plugin-comptes-icon-flash4:before {
	content: "\010e";
}
.plugin-comptes-icon-flash5:before {
	content: "\01bb";
}
.plugin-comptes-icon-yeux-rouge:before {
	content: "\00de";
}
.plugin-comptes-icon-luminosite1:before {
	content: "\00df";
}
.plugin-comptes-icon-luminosite2:before {
	content: "\00e0";
}
.plugin-comptes-icon-luminosite3:before {
	content: "\00f1";
}
.plugin-comptes-icon-luminosite4:before {
	content: "\010c";
}
.plugin-comptes-icon-main-libre1:before {
	content: "\0102";
}
.plugin-comptes-icon-play1:before {
	content: "\0106";
}
.plugin-comptes-icon-nuage1:before {
	content: "\00e6";
}
.plugin-comptes-icon-nuage2:before {
	content: "\00f7";
}
.plugin-comptes-icon-stats1:before {
	content: "\00f8";
}
.plugin-comptes-icon-focus1:before {
	content: "\00e7";
}
.plugin-comptes-icon-focus2:before {
	content: "\00f9";
}
.plugin-comptes-icon-focus3:before {
	content: "\00fb";
}
.plugin-comptes-icon-battery-flash1:before {
	content: "\00eb";
}
.plugin-comptes-icon-plus-moins1:before {
	content: "\00ec";
}
.plugin-comptes-icon-retardateur1:before {
	content: "\00ff";
}
.plugin-comptes-icon-retardateur1:before {
	content: "\010f";
}
.plugin-comptes-icon-soleil:before {
	content: "\0111";
}
.plugin-comptes-valise-photo:before {
	content: "\00dc";
}

/* Communication */
.plugin-comptes-antenne1:before {
	content: "\00d0";
}
.plugin-comptes-antenne2:before {
	content: "\00d1";
}
.plugin-comptes-antenne3:before {
	content: "\00d2";
}
.plugin-comptes-antenne4:before {
	content: "\01b3";
}
.plugin-comptes-antenne5:before {
	content: "\01b4";
}
.plugin-comptes-satellite1:before {
	content: "\00d3";
}
.plugin-comptes-satellite2:before {
	content: "\014f";
}
/* outils/bricollage */
.plugin-comptes-cle-anglaise:before {
	content: "\0034";
}
.plugin-comptes-perceuse:before {
	content: "\01aa";
}
.plugin-comptes-tronconneuse:before {
	content: "\01ab";
}
.plugin-comptes-pince:before {
	content: "\01ac";
}
.plugin-comptes-truelle:before {
	content: "\01b0";
}
.plugin-comptes-marteau:before {
	content: "\01ba";
}
.plugin-comptes-caisse-outils:before {
	content: "\01b1";
}
/* Construction */
.plugin-comptes-recyclage1:before {
	content: "\0197";
}
.plugin-comptes-recyclage2:before {
	content: "\01b6";
}
.plugin-comptes-fleche-haut:before {
	content: "\025b";
}
.plugin-comptes-wall:before {
	content: "\00ae";
}
.plugin-comptes-chantier1:before {
	content: "\01a1";
}
.plugin-comptes-chantier2:before {
	content: "\01a2";
}
.plugin-comptes-chantier3:before {
	content: "\01b7";
}
.plugin-comptes-usine1:before {
	content: "\01a8";
}
.plugin-comptes-usine2:before {
	content: "\01ad";
}
.plugin-comptes-homme-chantier1:before {
	content: "\019f";
}
.plugin-comptes-homme-chantier2:before {
	content: "\01a0";
}
.plugin-comptes-homme-chantier3:before {
	content: "\01a4";
}
.plugin-comptes-homme-chantier4:before {
	content: "\01a5";
}
.plugin-comptes-homme-chantier5:before {
	content: "\01a6";
}
.plugin-comptes-homme-chantier6:before {
	content: "\01a7";
}
.plugin-comptes-homme-chantier7:before {
	content: "\01a9";
}
/* voyage - loisirs - sport*/
.plugin-comptes-boussolle:before {
	content: "\0049";
}
.plugin-comptes-repere1:before {
	content: "\004e";
}
.plugin-comptes-repere2:before {
	content: "\01f1";
}
.plugin-comptes-repere3:before {
	content: "\020e";
}
.plugin-comptes-repere4:before {
	content: "\021f";
}
.plugin-comptes-planette-repere:before {
	content: "\00a2";
}
.plugin-comptes-planette-repere2:before {
	content: "\01fe";
}
.plugin-comptes-map-monde:before {
	content: "\0157";
}
.plugin-comptes-monde-fleche:before {
	content: "\01ef";
}
.plugin-comptes-monde-avion:before {
	content: "\01f2";
}
.plugin-comptes-hotel:before {
	content: "\01e9";
}
.plugin-comptes-bouteille:before {
	content: "\0180";
}
.plugin-comptes-champagne:before {
	content: "\0217";
}
.plugin-comptes-coupe-champagnee:before {
	content: "\0229";
}
.plugin-comptes-glace-fruits:before {
	content: "\01ee";
}
.plugin-comptes-glace:before {
	content: "\0220";
}
.plugin-comptes-cerises:before {
	content: "\0222";
}
.plugin-comptes-macdo:before {
	content: "\0289";
}
.plugin-comptes-controleur:before {
	content: "\01ea";
}
.plugin-comptes-passeport:before {
	content: "\0218";
}
.plugin-comptes-carnet-guide:before {
	content: "\021c";
}
.plugin-comptes-carte-postale:before {
	content: "\01d2";
}
.plugin-comptes-oasis1:before {
	content: "\01e2";
}
.plugin-comptes-oasis2:before {
	content: "\01f5";
}
.plugin-comptes-oasis3:before {
	content: "\01fd";
}
.plugin-comptes-oasis4:before {
	content: "\0200";
}
.plugin-comptes-eventail:before {
	content: "\01d5";
}
.plugin-comptes-parapluie:before {
	content: "\01d6";
}
.plugin-comptes-fleur1:before {
	content: "\017f";
}
.plugin-comptes-mer:before {
	content: "\0184";
}
.plugin-comptes-sapin:before {
	content: "\0190";
}
.plugin-comptes-toilettes:before {
	content: "\0189";
}
.plugin-comptes-douche1:before {
	content: "\0191";
}
.plugin-comptes-douche2:before {
	content: "\021e";
}
.plugin-comptes-escalateur1:before {
	content: "\018a";
}
.plugin-comptes-escalateur2:before {
	content: "\018c";
}
.plugin-comptes-piscine1:before {
	content: "\020f";
}
.plugin-comptes-piscine2:before {
	content: "\0211";
}
.plugin-comptes-valise1:before {
	content: "\0210";
}
.plugin-comptes-valise2:before {
	content: "\0228";
}
.plugin-comptes-no-dog:before {
	content: "\0182";
}
.plugin-comptes-taxi1:before {
	content: "\0183";
}
.plugin-comptes-taxi2:before {
	content: "\01f0";
}
.plugin-comptes-voiture1:before {
	content: "\0195";
}
.plugin-comptes-voiture2:before {
	content: "\01fb";
}
.plugin-comptes-scouteur:before {
	content: "\0223";
}
.plugin-comptes-train:before {
	content: "\0224";
}
.plugin-comptes-bus:before {
	content: "\0185";
}
.plugin-comptes-car1:before {
	content: "\0196";
}
.plugin-comptes-car2:before {
	content: "\0226";
}
.plugin-comptes-van:before {
	content: "\01e0";
}
.plugin-comptes-bateau1:before {
	content: "\018b";
}
.plugin-comptes-bateau2:before {
	content: "\01f8";
}
.plugin-comptes-bateau3:before {
	content: "\0225";
}
.plugin-comptes-velo1:before {
	content: "\018f";
}
.plugin-comptes-velo2:before {
	content: "\01dc";
}
.plugin-comptes-velo3:before {
	content: "\01f7";
}
.plugin-comptes-avion1:before {
	content: "\0199";
}
.plugin-comptes-avion2:before {
	content: "\01f6";
}
.plugin-comptes-skateur:before {
	content: "\01d3";
}
.plugin-comptes-skate:before {
	content: "\01d4";
}
.plugin-comptes-roller:before {
	content: "\01e8";
}
.plugin-comptes-tennis:before {
	content: "\0221";
}
.plugin-comptes-planche-a-voile:before {
	content: "\01e1";
}
.plugin-comptes-bateau-a-voile:before {
	content: "\01f3";
}
.plugin-comptes-mongolfiere:before {
	content: "\01f4";
}
.plugin-comptes-surfeur1:before {
	content: "\01e7";
}
.plugin-comptes-surfeur2:before {
	content: "\020c";
}
.plugin-comptes-peche:before {
	content: "\021a";
}
.plugin-comptes-camping:before {
	content: "\021b";
}
.plugin-comptes-tente:before {
	content: "\0227";
}
.plugin-comptes-palmes:before {
	content: "\01e3";
}
.plugin-comptes-masque-tuba:before {
	content: "\01e4";
}
.plugin-comptes-palme-masque-tuba:before {
	content: "\01ec";
}
.plugin-comptes-bouteilles-plongee:before {
	content: "\01e5";
}
.plugin-comptes-plage1:before {
	content: "\01f9";
}
.plugin-comptes-plage2:before {
	content: "\020d";
}
.plugin-comptes-pic-nic:before {
	content: "\021d";
}
.plugin-comptes-sceau1:before {
	content: "\0213";
}
.plugin-comptes-ballon1:before {
	content: "\0207";
}
.plugin-comptes-ballon2:before {
	content: "\025f";
}
.plugin-comptes-toboggan:before {
	content: "\01ff";
}
.plugin-comptes-essence:before {
	content: "\019e";
}
.plugin-comptes-feu1:before {
	content: "\01ed";
}
.plugin-comptes-feu2:before {
	content: "\0219";
}
.plugin-comptes-logo-phone:before {
	content: "\018d";
}
.plugin-comptes-main:before {
	content: "\018e";
}
.plugin-comptes-chat-panier:before {
	content: "\01db";
}
.plugin-comptes-poissons:before {
	content: "\01e6";
}
.plugin-comptes-etoile-mer:before {
	content: "\0214";
}
.plugin-comptes-meduse:before {
	content: "\0215";
}
/* Marine */
.plugin-comptes-chaine:before {
	content: "\005c";
}
.plugin-comptes-ancre1:before {
	content: "\019a";
}
.plugin-comptes-ancre2:before {
	content: "\01eb";
}
.plugin-comptes-gilet-sauvetage:before {
	content: "\01fc";
}
/* repas - nourriture - cuisine*/
.plugin-comptes-robinet1:before {
	content: "\0193";
}
.plugin-comptes-robinet2:before {
	content: "\01b9";
}
.plugin-comptes-repas1:before {
	content: "\0192";
}
.plugin-comptes-repas2:before {
	content: "\01d0";
}
.plugin-comptes-repas3:before {
	content: "\020b";
}
.plugin-comptes-couverts1:before {
	content: "\01cf";
}
.plugin-comptes-couverts2:before {
	content: "\01fa";
}
.plugin-comptes-tasse:before {
	content: "\01ca";
}
.plugin-comptes-cafe1:before {
	content: "\019d";
}
.plugin-comptes-cafe2:before {
	content: "\020a";
}
.plugin-comptes-cafe3:before {
	content: "\025a";
}
.plugin-comptes-cruche:before {
	content: "\01bc";
}
.plugin-comptes-cruche2:before {
	content: "\01bd";
}
.plugin-comptes-robot-menager1:before {
	content: "\01be";
}
.plugin-comptes-robot-menager2:before {
	content: "\01c4";
}
.plugin-comptes-robot-menager3:before {
	content: "\01c6";
}
.plugin-comptes-robot-menager4:before {
	content: "\01c7";
}
.plugin-comptes-robot-menager5:before {
	content: "\01c8";
}
.plugin-comptes-robot-menager6:before {
	content: "\01cc";
}
.plugin-comptes-robot-menager7:before {
	content: "\01ce";
}
.plugin-comptes-theiere1:before {
	content: "\01bf";
}
.plugin-comptes-theiere2:before {
	content: "\01c9";
}
.plugin-comptes-theiere3:before {
	content: "\01d1";
}
.plugin-comptes-presse-citron:before {
	content: "\01c0";
}
.plugin-comptes-grille-pain:before {
	content: "\01c1";
}
.plugin-comptes-ustencile1:before {
	content: "\01c2";
}
.plugin-comptes-ustencile2:before {
	content: "\01c3";
}
.plugin-comptes-ustencile3:before {
	content: "\01cb";
}
.plugin-comptes-tire-bouchon:before {
	content: "\01c5";
}
.plugin-comptes-gants:before {
	content: "\01cd";
}
/* Symboles */
.plugin-comptes-s-rond:before {
	content: "\0260";
}
.plugin-comptes-s-homme:before {
	content: "\0261";
}
.plugin-comptes-s-homme-femme:before {
	content: "\0262";
}
.plugin-comptes-s-femme:before {
	content: "\0263";
}
.plugin-comptes-s-homme-homme:before {
	content: "\0264";
}
.plugin-comptes-s-femme-femme:before {
	content: "\0265";
}
.plugin-comptes-s-homme-femme-2:before {
	content: "\0266";
}
.plugin-comptes-s-croix:before {
	content: "\0267";
}
.plugin-comptes-s-a:before {
	content: "\0268";
}
.plugin-comptes-s-ying-yang:before {
	content: "\0269";
}
/*Médecine - Chimie */
.plugin-comptes-chimie1:before {
	content: "\0120";
}
.plugin-comptes-chimie2:before {
	content: "\0121";
}
.plugin-comptes-chimie3:before {
	content: "\0127";
}
.plugin-comptes-chimie4:before {
	content: "\0128";
}
.plugin-comptes-chimie5:before {
	content: "\0129";
}
.plugin-comptes-chimie6:before {
	content: "\012a";
}
.plugin-comptes-chimie7:before {
	content: "\012b";
}
.plugin-comptes-chimie8:before {
	content: "\012c";
}
.plugin-comptes-chimie9:before {
	content: "\012e";
}
.plugin-comptes-chimie10:before {
	content: "\012f";
}
.plugin-comptes-chimie11:before {
	content: "\0134";
}
.plugin-comptes-chimie12:before {
	content: "\0136";
}
.plugin-comptes-chimie13:before {
	content: "\0137";
}
.plugin-comptes-chimie14:before {
	content: "\0138";
}
.plugin-comptes-chimie15:before {
	content: "\013f";
}
.plugin-comptes-chimie16:before {
	content: "\0145";
}
.plugin-comptes-chimie17:before {
	content: "\014c";
}
.plugin-comptes-chimie18:before {
	content: "\0150";
}
.plugin-comptes-chimie19:before {
	content: "\015d";
}
.plugin-comptes-atome1:before {
	content: "\0122";
}
.plugin-comptes-atome2:before {
	content: "\0123";
}
.plugin-comptes-atome3:before {
	content: "\0124";
}
.plugin-comptes-atome4:before {
	content: "\0126";
}
.plugin-comptes-atome5:before {
	content: "\012d";
}
.plugin-comptes-atome6:before {
	content: "\0132";
}
.plugin-comptes-atome7:before {
	content: "\013a";
}
.plugin-comptes-atome8:before {
	content: "\013e";
}
.plugin-comptes-adn1:before {
	content: "\0148";
}
.plugin-comptes-adn2:before {
	content: "\0237";
}
.plugin-comptes-chimie-danger1:before {
	content: "\0130";
}
.plugin-comptes-chimie-danger2:before {
	content: "\0140";
}
.plugin-comptes-microbe:before {
	content: "\0159";
}
.plugin-comptes-sante:before {
	content: "\0233";
}
.plugin-comptes-seringue1:before {
	content: "\013b";
}
.plugin-comptes-seringue2:before {
	content: "\014a";
}
.plugin-comptes-seringue3:before {
	content: "\022d";
}
.plugin-comptes-thermometre:before {
	content: "\022e";
}
.plugin-comptes-medicament:before {
	content: "\022f";
}
.plugin-comptes-pipette1:before {
	content: "\013c";
}
.plugin-comptes-pipette2:before {
	content: "\0141";
}
.plugin-comptes-pipette3:before {
	content: "\014e";
}
.plugin-comptes-microscope1:before {
	content: "\0143";
}
.plugin-comptes-microscope2:before {
	content: "\0149";
}
.plugin-comptes-microscope3:before {
	content: "\0152";
}
.plugin-comptes-diplome-chapeau:before {
	content: "\0147";
}
.plugin-comptes-diplome:before {
	content: "\015a";
}
.plugin-comptes-doc-science:before {
	content: "\0151";
}
.plugin-comptes-explosion:before {
	content: "\0156";
}
.plugin-comptes-mortier:before {
	content: "\0243";
}
.plugin-comptes-sida:before {
	content: "\01d8";
}
.plugin-comptes-homme-blesse:before {
	content: "\01d9";
}
.plugin-comptes-handicape:before {
	content: "\022b";
}
.plugin-comptes-valise-pharmacie1:before {
	content: "\0209";
}
.plugin-comptes-valise-pharmacie2:before {
	content: "\022c";
}
.plugin-comptes-valise-pharmacie3:before {
	content: "\0242";
}
.plugin-comptes-pansements:before {
	content: "\0241";
}
.plugin-comptes-hopital1:before {
	content: "\0234";
}
.plugin-comptes-hopital2:before {
	content: "\023d";
}
.plugin-comptes-ambulance1:before {
	content: "\022a";
}
.plugin-comptes-ambulance2:before {
	content: "\0235";
}
.plugin-comptes-ambulance3:before {
	content: "\023c";
}
.plugin-comptes-ambulance4:before {
	content: "\0240";
}
.plugin-comptes-ambulance5:before {
	content: "\0244";
}
.plugin-comptes-fiche-soin:before {
	content: "\0236";
}
.plugin-comptes-stethoscope:before {
	content: "\0239";
}
.plugin-comptes-medecin1:before {
	content: "\023a";
}
.plugin-comptes-medecin2:before {
	content: "\023f";
}
.plugin-comptes-medecin3:before {
	content: "\0245";
}
.plugin-comptes-medecin4:before {
	content: "\0246";
}
.plugin-comptes-signe-vitaux1:before {
	content: "\023b";
}
.plugin-comptes-signe-vitaux2:before {
	content: "\023e";
}
.plugin-comptes-signe-vitaux3:before {
	content: "\0247";
}
.plugin-comptes-dent:before {
	content: "\0231";
}
/* Astronomie */
.plugin-comptes-telescope1:before {
	content: "\0131";
}
.plugin-comptes-telescope2:before {
	content: "\014b";
}
.plugin-comptes-telescope3:before {
	content: "\01da";
}
.plugin-comptes-saturne:before {
	content: "\015c";
}
.plugin-comptes-fusee:before {
	content: "\015e";
}
/* Personnages */
.plugin-comptes-femme1:before {
	content: "\0139";
}
.plugin-comptes-femme2:before {
	content: "\0254";
}
.plugin-comptes-homme1:before {
	content: "\0142";
}
.plugin-comptes-homme2:before {
	content: "\0256";
}
.plugin-comptes-realisateur:before {
	content: "\01d7";
}
.plugin-comptes-touriste1:before {
	content: "\0201";
}
.plugin-comptes-touriste2:before {
	content: "\0202";
}
.plugin-comptes-touriste3:before {
	content: "\0203";
}
.plugin-comptes-touriste4:before {
	content: "\0204";
}
.plugin-comptes-touriste5:before {
	content: "\0205";
}
.plugin-comptes-touriste6:before {
	content: "\0208";
}
.plugin-comptes-personne-canne:before {
	content: "\0206";
}
.plugin-comptes-tete1:before {
	content: "\0135";
}
.plugin-comptes-tetemort1:before {
	content: "\0146";
}
.plugin-comptes-tetemort2:before {
	content: "\015f";
}
.plugin-comptes-tetemort3:before {
	content: "\0187";
}
.plugin-comptes-tetemort4:before {
	content: "\0232";
}
/* Robots */
.plugin-comptes-robot1:before {
	content: "\028a";
}
.plugin-comptes-robot2:before {
	content: "\028b";
}
.plugin-comptes-robot3:before {
	content: "\028c";
}
.plugin-comptes-robot4:before {
	content: "\028d";
}
.plugin-comptes-robot5:before {
	content: "\028e";
}
.plugin-comptes-robot6:before {
	content: "\028f";
}
.plugin-comptes-robot7:before {
	content: "\0290";
}
.plugin-comptes-robot8:before {
	content: "\0291";
}
.plugin-comptes-robot9:before {
	content: "\0292";
}
.plugin-comptes-robot10:before {
	content: "\0293";
}
/*Gestion divers */
.plugin-comptes-file1:before {
	content: "\0048";
}
.plugin-comptes-file2:before {
	content: "\0062";
}
.plugin-comptes-file3:before {
	content: "\005b";
}
.plugin-comptes-file4:before {
	content: "\0161";
}
.plugin-comptes-loupe:before {
	content: "\004c";
}
.plugin-comptes-infobulle:before {
	content: "\005d";
}
.plugin-comptes-ecran-fleche-out:before {
	content: "\006a";
}
.plugin-comptes-flag:before {
	content: "\006b";
}
.plugin-comptes-fenetre-cadena:before {
	content: "\0073";
}
.plugin-comptes-volume:before {
	content: "\00b0";
}
.plugin-comptes-volume1:before {
	content: "\0165";
}
.plugin-comptes-volume2:before {
	content: "\0166";
}
.plugin-comptes-volume3:before {
	content: "\0167";
}
.plugin-comptes-divers:before {
	content: "\00b2";
}
.plugin-comptes-tag:before {
	content: "\00b8";
}
.plugin-comptes-repere0:before {
	content: "\016e";
}
.plugin-comptes-config1:before {
	content: "\00f3";
}
.plugin-comptes-config2:before {
	content: "\0154";
}
.plugin-comptes-config3:before {
	content: "\0162";
}
.plugin-comptes-config4:before {
	content: "\01a3";
}
.plugin-comptes-config5:before {
	content: "\01ae";
}
.plugin-comptes-config6:before {
	content: "\01b5";
}
.plugin-comptes-menu1:before {
	content: "\0179";
}
.plugin-comptes-batterie1:before {
	content: "\00fd";
}
.plugin-comptes-batterie2:before {
	content: "\00fe";
}
.plugin-comptes-batterie3:before {
	content: "\0108";
}
.plugin-comptes-poubelle1:before {
	content: "\0110";
}
.plugin-comptes-calendrier:before {
	content: "\0160";
}
.plugin-comptes-enveloppe1:before {
	content: "\0164";
}
.plugin-comptes-enveloppe2:before {
	content: "\0174";
}
.plugin-comptes-enveloppe3:before {
	content: "\019b";
}
.plugin-comptes-pouce1:before {
	content: "\016b";
}
.plugin-comptes-pouce2:before {
	content: "\017b";
}
.plugin-comptes-pouce3:before {
	content: "\017c";
}
.plugin-comptes-domotique:before {
	content: "\016f";
}
.plugin-comptes-nuage1:before {
	content: "\0171";
}
.plugin-comptes-nuage2:before {
	content: "\0172";
}
.plugin-comptes-nuage-pluie:before {
	content: "\017e";
}
.plugin-comptes-deconnexion:before {
	content: "\0177";
}
/*vie quotidienne */

.plugin-comptes-cadena1:before {
	content: "\004A";
}
.plugin-comptes-cadena2:before {
	content: "\0163";
}
.plugin-comptes-cadena3:before {
	content: "\0173";
}
.plugin-comptes-cle1:before {
	content: "\0023";
}
.plugin-comptes-cle2:before {
	content: "\0198";
}
.plugin-comptes-reveil:before {
	content: "\0052";
}
.plugin-comptes-calculatrice:before {
	content: "\0053";
}
.plugin-comptes-pile1:before {
	content: "\0072";
}
.plugin-comptes-stylo1:before {
	content: "\00bb";
}
.plugin-comptes-loupe:before {
	content: "\014d";
}
.plugin-comptes-compas:before {
	content: "\0133";
}
.plugin-comptes-ciseaux1:before {
	content: "\019c";
}
.plugin-comptes-ciseaux2:before {
	content: "\01b2";
}
.plugin-comptes-ciseaux3:before {
	content: "\0249";
}

.plugin-comptes-aimant:before {
	content: "\013d";
}
.plugin-comptes-balance:before {
	content: "\0144";
}
.plugin-comptes-livre1:before {
	content: "\0158";
}
.plugin-comptes-livre2:before {
	content: "\026a";
}
.plugin-comptes-livre3:before {
	content: "\026c";
}
.plugin-comptes-livre4:before {
	content: "\026d";
}
.plugin-comptes-livre5:before {
	content: "\026e";
}
.plugin-comptes-livre6:before {
	content: "\026f";
}
.plugin-comptes-livre7:before {
	content: "\0270";
}
.plugin-comptes-livre8:before {
	content: "\0271";
}
.plugin-comptes-livre9:before {
	content: "\0272";
}
.plugin-comptes-livre10:before {
	content: "\0273";
}
.plugin-comptes-livre11:before {
	content: "\0274";
}
.plugin-comptes-livre12:before {
	content: "\0275";
}
.plugin-comptes-livre13:before {
	content: "\0276";
}
.plugin-comptes-livre14:before {
	content: "\0277";
}
.plugin-comptes-livre15:before {
	content: "\0278";
}
.plugin-comptes-livre16:before {
	content: "\0279";
}
.plugin-comptes-livre17:before {
	content: "\027a";
}
.plugin-comptes-lecteur1:before {
	content: "\026b";
}
.plugin-comptes-lecteur2:before {
	content: "\027d";
}
.plugin-comptes-ancrier:before {
	content: "\027b";
}
.plugin-comptes-sacoche:before {
	content: "\016a";
}
.plugin-comptes-trombone:before {
	content: "\016c";
}
.plugin-comptes-trombone2:before {
	content: "\0174";
}
.plugin-comptes-crayon1:before {
	content: "\016d";
}
.plugin-comptes-vetements1:before {
	content: "\0280";
}
.plugin-comptes-vetements2:before {
	content: "\0281";
}
.plugin-comptes-vetements3:before {
	content: "\0282";
}
.plugin-comptes-vetements4:before {
	content: "\0283";
}
.plugin-comptes-vetements5:before {
	content: "\0284";
}
.plugin-comptes-vetements6:before {
	content: "\0285";
}
.plugin-comptes-vetements7:before {
	content: "\0286";
}
.plugin-comptes-vetements8:before {
	content: "\0287";
}
.plugin-comptes-vetements9:before {
	content: "\0288";
}

/*divers */
.plugin-comptes-target:before {
	content: "\0021";
}
.plugin-comptes-poid:before {
	content: "\0058";
}
.plugin-comptes-android:before {
	content: "\0038";
}
.plugin-comptes-bouclier:before {
	content: "\00a5";
}
.plugin-comptes-interdiction:before {
	content: "\0181";
}

.plugin-comptes-organigramme:before {
	content: "\00a9";
}
.plugin-comptes-coeur1:before {
	content: "\00aa";
}
.plugin-comptes-coeur2:before {
	content: "\0216";
}
.plugin-comptes-coeur3:before {
	content: "\0230";
}
.plugin-comptes-ampoule1:before {
	content: "\00af";
}
.plugin-comptes-ampoule2:before {
	content: "\010d";
}
.plugin-comptes-ampoule3:before {
	content: "\0125";
}
.plugin-comptes-ampoule4:before {
	content: "\015b";
}
.plugin-comptes-ampoule5:before {
	content: "\01af";
}
.plugin-comptes-eclair1:before {
	content: "\00b4";
}
.plugin-comptes-etoile1:before {
	content: "\00b7";
}
.plugin-comptes-smiley-happy:before {
	content: "\00bc";
}
.plugin-comptes-cadeau:before {
	content: "\024e";
}
/* beauté */
.plugin-comptes-glace-mirroir:before {
	content: "\024a";
}
.plugin-comptes-ciseaux-coiffeur:before {
	content: "\024b";
}
.plugin-comptes-peigne:before {
	content: "\024c";
}
.plugin-comptes-rasoir:before {
	content: "\024d";
}
.plugin-comptes-coiffure:before {
	content: "\024f";
}
.plugin-comptes-produits-beaute1:before {
	content: "\0250";
}
.plugin-comptes-produits-beaute2:before {
	content: "\0251";
}
.plugin-comptes-produits-beaute3:before {
	content: "\0252";
}
.plugin-comptes-produits-beaute4:before {
	content: "\0255";
}
/* tablettes */

.plugin-comptes-tablette1:before {
	content: "\0044";
}
.plugin-comptes-tablette2:before {
	content: "\004b";
}
.plugin-comptes-tablette3:before {
	content: "\0057";
}


/* Ecrans + tablettes*/

.plugin-comptes-ecran-et-tablette1:before {
	content: "\0043";
}
.plugin-comptes-ecran-et-tablette2:before {
	content: "\0045";
}
/* Ecrans */
.plugin-comptes-ecran1:before {
	content: "\0155";
}
/* Old Phone*/
.plugin-comptes-old-phone1:before {
	content: "\007c";
}
.plugin-comptes-old-phone2:before {
	content: "\007e";
}
.plugin-comptes-old-phone3:before {
	content: "\00a3";
}
.plugin-comptes-old-phone4:before {
	content: "\025c";
}
/* Téléphones */

.plugin-comptes-phone1:before {
	content: "\0024";
}
.plugin-comptes-phone2:before {
	content: "\0025";
}
.plugin-comptes-phone3:before {
	content: "\002a";
}
.plugin-comptes-phone4:before {
	content: "\002f";
}
.plugin-comptes-phone5:before {
	content: "\0030";
}
.plugin-comptes-phone6:before {
	content: "\0046";
}
.plugin-comptes-phone7:before {
	content: "\006c";
}
.plugin-comptes-phone8:before {
	content: "\006d";
}
.plugin-comptes-phone9:before {
	content: "\006f";
}
.plugin-comptes-phone10:before {
	content: "\0070";
}
.plugin-comptes-phone11:before {
	content: "\007d";
}
.plugin-comptes-phone12:before {
	content: "\00a1";
}
.plugin-comptes-phone13:before {
	content: "\00a7";
}
.plugin-comptes-phone14:before {
	content: "\00ac";
}
.plugin-comptes-phone15:before {
	content: "\00b1";
}
.plugin-comptes-phone15:before {
	content: "\00b5";
}
.plugin-comptes-phone16:before {
	content: "\00b6";
}
.plugin-comptes-phone17:before {
	content: "\00c2";
}
.plugin-comptes-phone18:before {
	content: "\00c4";
}
.plugin-comptes-phone19:before {
	content: "\00c5";
}
.plugin-comptes-phone20:before {
	content: "\00c6";
}
.plugin-comptes-phone21:before {
	content: "\00c7";
}
.plugin-comptes-phone22:before {
	content: "\00c8";
}
.plugin-comptes-phone23:before {
	content: "\00c9";
}
.plugin-comptes-phone24:before {
	content: "\00ca";
}
.plugin-comptes-phone25:before {
	content: "\00cb";
}
.plugin-comptes-phone26:before {
	content: "\00cc";
}
.plugin-comptes-phone27:before {
	content: "\00cd";
}
.plugin-comptes-phone28:before {
	content: "\00ce";
}
.plugin-comptes-phone29:before {
	content: "\00cf";
}
.plugin-comptes-phone30:before {
	content: "\00e1";
}
.plugin-comptes-phone31:before {
	content: "\00e2";
}
.plugin-comptes-phone32:before {
	content: "\00e3";
}
.plugin-comptes-phone33:before {
	content: "\00e4";
}
.plugin-comptes-phone34:before {
	content: "\00e5";
}
.plugin-comptes-phone35:before {
	content: "\00e8";
}
.plugin-comptes-phone36:before {
	content: "\00e9";
}
.plugin-comptes-phone37:before {
	content: "\00ea";
}
.plugin-comptes-phone38:before {
	content: "\00f2";
}
.plugin-comptes-phone39:before {
	content: "\00f5";
}
.plugin-comptes-phone40:before {
	content: "\00fc";
}
.plugin-comptes-phone41:before {
	content: "\0259";
}
/* Téléphones Gestion */

.plugin-comptes-phone-gestion1:before {
	content: "\0054";
}
.plugin-comptes-phone-gestion2:before {
	content: "\0055";
}
.plugin-comptes-phone-gestion3:before {
	content: "\005a";
}
.plugin-comptes-phone-gestion4:before {
	content: "\005e";
}
.plugin-comptes-phone-gestion5:before {
	content: "\005f";
}
.plugin-comptes-phone-gestion6:before {
	content: "\0060";
}
.plugin-comptes-phone-gestion7:before {
	content: "\0061";
}
.plugin-comptes-phone-gestion8:before {
	content: "\0063";
}
.plugin-comptes-phone-gestion9:before {
	content: "\0064";
}
.plugin-comptes-phone-gestion10:before {
	content: "\0065";
}
.plugin-comptes-phone-gestion11:before {
	content: "\0066";
}
.plugin-comptes-phone-gestion12:before {
	content: "\0067";
}
.plugin-comptes-phone-gestion13	:before {
	content: "\0076";
}
.plugin-comptes-phone-gestion14:before {
	content: "\0077";
}
.plugin-comptes-phone-gestion15:before {
	content: "\0078";
}
.plugin-comptes-phone-gestion16:before {
	content: "\0079";
}
.plugin-comptes-phone-gestion17:before {
	content: "\007a";
}
.plugin-comptes-phone-gestion18:before {
	content: "\007b";
}
.plugin-comptes-phone-gestion19:before {
	content: "\00a6";
}
.plugin-comptes-phone-gestion20:before {
	content: "\00c3";
}
/*Icones entourées de carré*/
.plugin-comptes-c-gestion-luminosite:before {
	content: "\00a8";
}
.plugin-comptes-c-information:before {
	content: "\00ab";
}
.plugin-comptes-c-volume:before {
	content: "\00bf";
}
.plugin-comptes-c-aa:before {
	content: "\00c0";
}
.plugin-comptes-c-bars:before {
	content: "\00c1";
}
.plugin-comptes-c-check1:before {
	content: "\004d";
}
.plugin-comptes-c-point-interrogation:before {
	content: "\004f";
}
.plugin-comptes-c-rss1:before {
	content: "\0050";
}
.plugin-comptes-c-cross1:before {
	content: "\0059";
}
.plugin-comptes-c-cross2:before {
	content: "\025d";
}
.plugin-comptes-c-croix1:before {
	content: "\025e";
}
.plugin-comptes-c-sante:before {
	content: "\0238";
}
.plugin-comptes-r-information:before {
	content: "\0170";
}