<div class="eqLogic-widget eqLogic noResize" style="position:relative;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-version="mobile" >
	<center>
        <strong><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></strong>
    </center>
	<center>
        <span style="font-size : 1.2em; font-weight: bold;margin-left : 20px;">
			#SoldeMsg##solde_reel# #devise# #solde_apointer#
		</span><br />
		<span class="#hidden#" style="font-size : 1.0em; font-weight: normal;margin-left : 20px; ">
			#EndMonthMsg##solde_findemois# #devise# 
		</span>
    </center>
	
</div>
	